/* Sidebar */

[class*="sidebar-dark"] .brand-link
{
  border-bottom: 1px solid #fff !important;
}

.nav-link.active
{
  background-color: #fff !important;
  color: #1d428a !important;
}

/* HR */

hr
{
  border-top: 2px solid #1d428a !important;
}

/* esquisse */

.esquisse-geom-aes > div
{
  height: 100px !important;
}

.container-drag-source
{
  height: 45px !important;
}

.dragula-target
{
  height: 50px !important;
}

/* Datatable */

.paginate_button a.page-link
{
  color: #1d428a !important;
}

.page-item.active .page-link
{
  color: white !important;
  background-color: #1d428a !important;
  border-color: #1d428a !important;
}
